$--black: rgba(0, 0, 0, 0.87);
$--grayDark: rgba(0, 0, 0, 0.38);
$--red: #ed6f71;
$--green: #4CAF50;

.posts {

  padding: 25px;
	background: #fff;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	font-size: 13px;
	font-weight: 400;
	margin: 2em;
	width: auto;
  max-width: 768px;
  margin: 0 auto;
  margin-top: 132px;

	&__wrapper {
		display: block;
		max-width: 100%;
		overflow-x: auto;
	}

  &__content {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 0 12px;
    
    .bigger {
      flex-basis: 72%;
    }

    &--item {
      flex: 1 0 20%;
      margin: 14px 10px; 
    }
  }

  /* Table content */ 

  & .table {
  
    width: 100%;
    border-spacing: 0px;
    
    & .datatype-string {
      text-align: left;
    }
    & .datatype-numeric {
      text-align: right;
    }
    
    & tr {
      border-bottom: 1px solid #e0e0e0;
      & td {
          text-overflow: ellipsis;
          padding: 10px 10px;
          border: 0;
          &:first-child {
            padding: 0 26px 0 24px;
          }
        }
    }
  
    
    &__header {
      &--row {
        height: 64px;
        padding: 0 24px;

        & th {
          font-size: 14px;
        }
      }
  
      &--datacell {
        color: $--black;
        font-size: 12px;
        font-weight: 500;
        vertical-align: middle;

        &.center {
          text-align: center !important;
        }
      }
    }
    
    &__content {
      &--row { 
        height: 48px;
        cursor: pointer;
        
        &.alternate {
          background: #eee;
        }
        
        &:hover {
          background: #d1d1d1;
        }

      }
  
      &--datacell {
        color: $--black;
        font-weight: 500;
        input[type="text"] {
          background: transparent;
          border: 0;
          color: $--grayDark;
          font-size: 13px;
          font-weight: 400;
          height: 40px;
          &::placeholder {
            color: $--grayDark;
          }
        }
      }
    }
  }

}

/* Create section */ 
.create {
  margin-top: 50px;

  & .bigger {
    flex-basis: 45%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 28px;
    background: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    font-size: 13px;
    font-weight: 400;
    
    width: auto;
    max-width: 768px;
    margin: 0 auto;

    &--item {
      flex: 1 0 20%; 
      margin: 10px; 
    }
  }
}

.error {
  &--info {
    text-align: center;
    font-size: 20px;
  }

  &--danger {
    color: $--red;
    margin-top: 8px;
  }
}

form {
  display: contents;
}

/* Bubbles*/ 
@mixin bubble($size, $color, $left, $top, $time) {
  position: absolute;
	content: "";
	left: $left;
	top: $top;
	width: $size;
	height: $size;
	background: $color;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
  transition: 1s;
	animation: bubbleMove 5s ease-in-out infinite;
	display: block;
	z-index: -1;
	-webkit-animation: bubbleMove $time ease-in-out infinite;
  opacity: .8;
}

@mixin bubbleAlert($time){
  transition: 1s;
  animation: bubbleShake $time ease;
	-webkit-animation: bubbleShake $time ease;
}

@mixin bubbleHappy($time){
  transition: 1s;
  animation: bubbleRotate $time ease;
	-webkit-animation: bubbleRotate $time ease;
}

.bubbleOne::before {
	@include bubble(300px, $--green, 27%, 35%, 5s);
}
.bubbleOne.error::before {
  @include bubble(300px, $--red, 27%, 32%, 5s);
  @include bubbleAlert(2s);
}

.bubbleTwo::before {
	@include bubble(200px, $--green, 62%, 5%, 10s);
}
.bubbleTwo.error::before {
  @include bubble(200px, $--red, 62%, 40%, 10s);
  @include bubbleAlert(1.5s);
}

.bubbleOne.success::before {
  @include bubbleHappy(3s);
}

.bubbleTwo.success::before {
  @include bubbleHappy(4s);
}

@keyframes bubbleMove {
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

@keyframes bubbleShake {
  0%{
    scale: 1;
  }
  20%{
    scale: .4;
  }
  30%{
    scale: 1.3;
  }
  40%{
    scale: 1.2;
  }
  60%{
    scale: 1.5;
  }
  100%{
    scale: 1;
  }
}

@keyframes bubbleRotate {
  0%{
    scale: 1;
    transform: translate3d(0,0,0) rotateZ(0deg);
  }
  20%{
    transform: translate3d(0,0,0) rotateZ(100deg);
  }
  30%{
    scale: 1.3;
    transform: translate3d(0,0,0) rotateZ(-50deg);
  }
  100%{
    transform: translate3d(0,0,0) rotateZ(360deg);
    scale: 1;
  }
}


