<section class="posts">
	
  <div class="posts__header">
		<h1 class="posts__header--title">Posts</h1>
	</div>

  <div class="form-item search-filter">
    <input  type="text" id="example" placeholder="&nbsp;">
    <label for="example" data-label="Filtro de nombre"></label>
  </div>
	
	<div class="posts__wrapper">

		<table class="table">

			<thead class="table__header">
				<tr class="table__header--row">
					<td class="table__header--datacell datatype-string">Nombre</td>
					<td class="table__header--datacell datatype-string">Descripción</td>
					<td class="table__header--datacell datatype-string">Acción</td>
				</tr>
			</thead>

			<tbody class="table__content">
				<tr class="table__content--row">
					<td class="table__content--datacell datatype-string">Something</td>
					<td class="table__content--datacell datatype-string">algo</td>
					<td class="table__content--datacell datatype-string">eliminar</td>
				</tr>
			</tbody>

		</table>

	</div>

	<!-- <footer class="main-table-footer">

		<span class="rows-selection">
			<span class="rows-selection-label">Rows per page:</span>
			<span class="rows-selection-dropdown">10<i class="material-icons">arrow_drop_down</i></span>
		</span>

		<span class="rows-amount">1-10 of 100</span>

		<span class="table-pagination">
			<i class="material-icons">keyboard_arrow_left</i>
			<i class="material-icons">keyboard_arrow_right</i>
		</span>

	</footer> -->

</section>