<section class="posts">
	
	<div class="posts__wrapper">

    <div class="posts__filter">

      <!-- Filter search -->
      <form (ngSubmit)="filterSearch()">

        <div class="posts__filter--item bigger">
          <div class="input-form">
            <input  type="text" id="filterName" placeholder="&nbsp;" [(ngModel)]="filterName" name="filterName" (input)="filterEmpty()">
            <label for="filterName" data-label="Filtro de nombre"></label>
          </div>
        </div>

        <div class="posts__filter--item">
          <button type="submit" class="button center">Buscar</button>
        </div>

      </form>
    </div>

    <!-- Posts list -->
		<table class="table">

			<thead class="table__header">
				<tr class="table__header--row">
					<th class="table__header--datacell datatype-string">Nombre</th>
					<th class="table__header--datacell datatype-string">Descripción</th>
					<th class="table__header--datacell datatype-string center">Acción</th>
				</tr>
			</thead>

			<tbody class="table__content">
        <ng-container *ngIf="posts$ | async as posts">
          <tr class="table__content--row" *ngFor="let post of posts$ | async; let i = index;" [ngClass]="{'alternate': i % 2 == 0 }">
            <td class="table__content--datacell datatype-string">{{post.name}}</td>
            <td class="table__content--datacell datatype-string">{{post.description}}</td>
            <td class="table__content--datacell datatype-string">
              <button type="button" class="button center small danger" (click)="deletePost(post.id)">
                <i class="large material-icons">delete_forever</i>
              </button>
            </td>
          </tr>
        </ng-container>
			</tbody>

		</table>

    <!-- Messages -->
    <div class="error--info" *ngIf="(posts$ | async)?.length === 0 && filterName.length > 0">
      <p>No hay resultados para "{{ filterName }}"</p>
    </div>

    <div class="error--info" *ngIf="(posts$ | async)?.length === 0 && filterName.length == 0">
      <p>No hay posts por el momento.</p>
    </div>

	</div>

</section>

<!-- Save form -->
<section class="create">
  <form [formGroup]="postForm" (ngSubmit)="savePost()">

    <div class="create__content">

        <div class="create__content--item">
          <div class="input-form">
            <input  
              type="text" 
              [ngClass]="{
                'error': (postForm.controls.name.errors && postForm.controls.name.touched)
              }"
              id="name" 
              placeholder="&nbsp;"
              formControlName="name">
            <label for="name" data-label="Nombre"></label>
          </div>
          <div *ngIf="!postForm.valid && submitted">
            <div class="error--danger" *ngIf="postForm.controls.name.errors">Debe ingresar el nombre.</div>
          </div>
        </div>
        
        <div class="create__content--item bigger">
          <div class="input-form">
            <input 
              type="text" 
              [ngClass]="{
                'error': (postForm.controls.description.errors && postForm.controls.description.touched)
              }"
              id="desc" 
              placeholder="&nbsp;" 
              formControlName="description">
            <label for="desc" data-label="Descripción"></label>
          </div>
          <div *ngIf="!postForm.valid && submitted">
            <div class="error--danger" *ngIf="postForm.controls.description.errors">Debe ingresar la descripción.</div>
          </div>
        </div>

        <div class="create__content--item">
          <button class="button center">Crear</button>
        </div>
      
    </div>

  </form>
  
</section>

<!-- Bubbles -->
<div class="bubbleOne" [ngClass]="{
  'error': (postForm.controls.name.errors && !postForm.valid && submitted),
  'success': saveSuccess
}"></div>

<div class="bubbleTwo" [ngClass]="{
  'error': (postForm.controls.description.errors && !postForm.valid && submitted),
  'success': saveSuccess
}"></div>