$color_1: rgba(0, 0, 0, 0.87);
$color_2: rgba(0, 0, 0, 0.54);
$color_3: #212121;
$color_4: rgba(0, 0, 0, 0.38);
$color_5: #9e9e9e;
$font-roboto: "Roboto", sans-serif;


.posts {

  padding: 25px;
	background: #fff;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	font-family: $font-roboto;
	font-size: 13px;
	font-weight: 400;
	margin: 2em;
	width: auto;
  max-width: 768px;
  margin: 0 auto;
  margin-top: 132px;

	&__wrapper {
		display: block;
		max-width: 100%;
		overflow-x: auto;
	}

  &__content {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 0 12px;
    
    .bigger {
      flex-basis: 72%;
    }

    &--item {
      flex: 1 0 20%;
      margin: 14px 10px; 
    }
  }

  /* Table content */ 

  & .table {
  
    width: 100%;
    border-spacing: 0px;
    
    & .datatype-string {
      text-align: left;
    }
    & .datatype-numeric {
      text-align: right;
    }
    
    & tr {
      border-bottom: 1px solid #e0e0e0;
      & td {
          text-overflow: ellipsis;
          padding: 0 56px 0 0;
          border: 0;
          &:first-child {
            padding: 0 26px 0 24px;
          }
          &:last-child {
            padding: 0 24px 0 0;
          }
        }
    }
  
    
    &__header {
      &--row {
        height: 64px;
        padding: 0 24px;
      }
  
      &--datacell {
        color: $color_2;
        font-size: 12px;
        font-weight: 500;
        vertical-align: middle;

        &.center {
          text-align: center !important;
        }
      }
    }
    
    &__content {
      &--row { 
        height: 48px;
        cursor: pointer;
        
        &.alternate {
          background: #eee;
        }
        
        &:hover {
          background: #d1d1d1;
        }

      }
  
      &--datacell {
        color: $color_1;
        font-weight: 500;
        input[type="text"] {
          background: transparent;
          border: 0;
          color: $color_3;
          font-family: $font-roboto;
          font-size: 13px;
          font-weight: 400;
          height: 40px;
          &::placeholder {
            color: $color_4;
          }
        }
      }
    }
  }

}

/* Create section */ 
.create {
  margin-top: 50px;

  & .bigger {
    flex-basis: 45%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 28px;
    background: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    font-family: $font-roboto;
    font-size: 13px;
    font-weight: 400;
    
    width: auto;
    max-width: 768px;
    margin: 0 auto;

    &--item {
      flex: 1 0 20%; 
      margin: 10px; 
    }
  }
}

.error {
  &--info {
    text-align: center;
    font-size: 20px;
  }
}

form {
  display: contents;
}

.github-button {
  padding: 0 10px;
  height: 28px;
  line-height: 26px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
  color: #333;
  margin-bottom: 5px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  vertical-align: top;
  background: #fff;
  background-color: #eee;
  background: -webkit-linear-gradient(#fcfcfc, #eee);
  background: -moz-linear-gradient(#fcfcfc, #eee);
  background: -ms-linear-gradient(#fcfcfc, #eee);
  background: -o-linear-gradient(#fcfcfc, #eee);
  background: linear-gradient(#fcfcfc, #eee);
}
// Waves
@mixin wave($size, $color, $left, $top, $time) {
  position: absolute;
	content: "";
	left: $left;
	top: $top;
	width: $size;
	height: $size;
	background: $color;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: waveMove 5s ease-in-out infinite;
	display: block;
	z-index: -1;
	-webkit-animation: waveMove $time ease-in-out infinite;
  opacity: .7;
}

.waveOne::before {
	@include wave(300px, #4CAF50, 27%, 32%, 5s)
}

.waveTwo::before {
	@include wave(200px,#4CAF50, 62%, 5%, 10s)
}

@keyframes waveMove{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}


