/* You can add global styles to this file, and also import other style files */
$--black: #000000;
$--white: white;
$--green: #4CAF50;
$--red: #ed6f71;
/* Fonts */
@font-face {
	font-family: 'Mont-bold';
	src: url('./assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
} 
@font-face {
	font-family: 'Mont-medium';
	src: url('./assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
} 

body {
	background: #363e3f;
	padding: 0;
	margin: 0;
	font-family: 'Mont-medium';
}

div {
	font-family: 'Mont-medium';
}

a,p,span {
	font-family: 'Mont-medium';
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Mont-bold';
}

input, textarea, button, label {
	font-family: 'Mont-medium';
}

table,tr,td {
	font-family: 'Mont-medium';
}
th {
	font-family: 'Mont-bold';
}

/* UI */
.input-form {
	position: relative;

	& input[type="text"] {
		display: block;
		width: 94%;
		height: 34px;
		font-size: 14px;
		line-height: 1.4;
		color: $--black !important;
		background-color: transparent;
		background-image: none;
		border: none;
		border-bottom: 2px solid #ddd;
    padding: 0 3%;

		/* default color */ 
		&:focus {
			outline: none;
			box-shadow: none;
			color: $--green;
			~ {
				label {
					&:before {
						font-size: 12px;
						bottom: 34px;
						color: $--green;
					}
					&:after {
						background-repeat: no-repeat;
						background-size: 1000% 1000%;
						background-image: radial-gradient(circle, $--green 10%, rgba(0, 0, 0, 0) 11%) !important;
					}
				}
			}
		}

		&:active {
			outline: none;
			box-shadow: none;
			color: $--green;
		}

		&:not(:placeholder-shown) {
			~ {
				label {
					&:before {
						font-size: 12px;
						bottom: 34px;
						left: 3%;
					}
				}
			}
		}

		/* Error color */
		&.error:focus {
			color: $--red;
			~ {
				label {
					&:before {
						color: $--red;
					}
					&:after {
						background-image: radial-gradient(circle, $--red 10%, rgba(0, 0, 0, 0) 11%) !important;
					}
				}
			}
		}
		&.error:active {
			color: $--red;
		}

	}

	& label {
		&:before {
			content: attr(data-label);
			display: block;
			position: absolute;
			left: 0;
			bottom: 6px;
			transition: all 0.15s ease-in-out;
		}
		&:after {
			content: "";
			position: absolute;
			display: inline-flex;
			text-decoration: none;
			justify-content: center;
			align-items: center;
			text-align: center;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			transition: all 0.4s ease-in-out;
			background-position: 50%;
			background-size: 200% 200%;
		}
	}
}

.button {
	display: inline-block;
	margin: 0.3em;
  padding: 10px 50px;
	overflow: hidden;
	position: relative;
	text-decoration: none;
  text-transform: capitalize;
	border-radius: 3px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	border: none;
	font-size: 15px;
	text-align: center;
  cursor: pointer;
    padding: 10px 50px;
	&:hover {
		box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
	}

  background-color: $--green;
  color: $--white;

  &.center {
    display: block;
    margin: 0 auto;
  }

	&.danger {
		background-color: $--red;
	}

	&.small {
		padding: 8px 18px 4px 4px;
		text-align: center;

		& i {
			text-align: center;
			position: relative;
			left: 6px;
		}
		& span {
			position: relative;
			bottom: 6px;
			left: 4px;
		}
	}
}